// base
$base-font-size: 14px;
$base-line-height: 1.44;
$base-header-type: 'Abril Fatface', serif;
$base-body-type: 'Noto Sans', sans-serif;
$base-spacing-unit: 1rem;


// colors
$dark: #171717;
$light: #FBFBFB;
$gray: #E4E4E4;
$primary: #5A00FF;